# dev properties
/dev/graphics/galcore       0660   system    rda_ctrl
/dev/vpu                    0660   system    rda_ctrl
/dev/voc                    0660   system    rda_ctrl
/dev/video0                 0660   system    rda_ctrl
/dev/rda5888                0660   system    rda_ctrl


# sysfs properties
/sys/devices/virtual/input/input*   enable           0660  system   system
/sys/devices/virtual/input/input*   driver/enable    0660  system   system
/sys/devices/virtual/input/input*   poll             0660  system   system
/sys/devices/virtual/input/input*   min              0660  system   system
/sys/devices/virtual/input/input*   max              0660  system   system
/sys/devices/virtual/tty/modem1     bootlogo         0660  system   system
/sys/devices/platform/rda-wlan      enabled          0660  system   system
/dev/i2c-2                 0660  system   system
